:root {
  --margin-size: 8px;
  --left-width: calc(41.667vw - var(--margin-size) * 2);
  --middle-width: calc(58.333vw - var(--margin-size) * 2);
  --right-width: calc(41.667vw - var(--margin-size) * 2);
  --negative-left-width: calc(-1 * var(--left-width) - 2 * var(--margin-size));
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  white-space: nowrap;
  /* overflow: hidden; */
}

.panel {
  /* transition: left 1s; */
  border: 1px solid black;
  height: calc(100% - 2 * var(--margin-size));
  display: inline-block;
  margin: var(--margin-size);
  position: relative;
  left: 0;
  vertical-align: top;
}

.left {
  width: var(--left-width);
}
.middle {
  width: var(--middle-width);
}
.right {
  width: var(--right-width);
}

.left.paneltrans-leave {
  transition: left 1s;
  left: 0;
}
.left.paneltrans-leave-active,
.left.paneltrans-leave + .middle,
.left.paneltrans-leave ~ .right {
  transition: left 1s;
  left: var(--negative-left-width);
}

.left.paneltrans-enter {
  transition: left 1s;
  left: var(--negative-left-width);
}
.left.paneltrans-enter-active,
.left.paneltrans-enter + .middle,
.left.paneltrans-enter ~ .right {
  transition: left 1s;
  left: 0;
}





.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 3000ms ease-in;
}
